
/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CUSTOM VARIABLES */
:root {
  /* COLORS */
  --light: #F9F9F9;
  --dark: #000;
  --purple: #551A8B;
  --inactive: #AEAEAE;
  --placeholder: #757575;
  /* ---------------------- */
  /* FONTS */
  --ff-main: 'Roboto Mono', monospace;
  --fs-title: 32px;
  --fs-subtitle: 20px;
  --fs-normal: 16px;
}
